@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body {
  font-family: "Rubik", sans-serif;
}
.bg{
  background-image: url(/public/images/Bg-5.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.active{
  border-bottom: 2px solid #749B3F;
}
.offer-bg {
  background-image: url('/public/images/Bg-4.png'), url('/images/Image-1.png');
  background-repeat: no-repeat;
  background-size: cover, auto;
  background-position: center, top right, bottom left; 
}

.testimonial-slider {
  padding: 20px 0;
}

.testimonial-slider .swiper-pagination-bullet {
  background-color: #749B3F; /* Green color for pagination */
  opacity: 1;
}

.testimonial-slider .swiper-pagination-bullet-active {
  background-color: #FFA500; /* Orange color for active pagination */
}

.testimonial-slider .swiper-button-prev,
.testimonial-slider .swiper-button-next {
  color: #FFA500; /* Orange color for navigation buttons */
}


